body {
    background-color:#1d1d1d ;
    color: #ffffff;
    font-family: Arial;
    margin:auto;
    width: 100% !important;
    max-width: 900px !important;
}

header {
    width: 100%;
    text-align: center;
}

.welcomeWordH1{
    text-align: center;
    font-family: monospace;
    opacity: 0.5;
    transition: 0.3s;
}

.welcomeWordH1:hover {
    transform: scale(1.2);
}

.welcomeWordP {
    transition: 0.3s;
}

.welcomeWordP:hover {
    transform: scale(1.5);
}

.cellSection{ 
    width: 100%;
    background-color:#1f180a;
    box-shadow: 0 0 5px 2px #1f180a;
    border-radius: 2%;
    opacity: 0.8;    
    transition: 0.3s;
}

.cellSection:hover {
    opacity: 0.9; 

}

.picdiv{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 2vw 0;
    justify-content: center;
}

.picdiv:hover{
}

img {
    max-width: 100%;
    width: 94vw !important;
    height: auto !important;
    border-radius: 2%;
    transition: 0.3s;
    border: rgba(255, 255, 255, 0) solid 4px;
}

img:hover {
    background-color:#342a17;
    width: 94.45% !important;
    box-shadow: 2px 2px 40px 10px rgba(255, 255, 255, 0.03);

    border: rgba(255, 255, 255, 0.03) solid 4px;
}

.descriptionDiv{
    padding: 0 0 0 3vw;
    margin: 0;
    height: fit-content;
}

.descriptionSpan{
    font-weight: bold;
}

.discriptionP{
    font-size: medium;
}

small {
    font-size: small;
    opacity: 0.6;
    color: #e7d6f7;
    transition: 0.2s;  
}

.small:hover { 
}

hr {
    border: 0;
    height: 0.6vh;
    background-image: linear-gradient(to right, rgb(65, 51, 51, 0), rgb(255, 238, 0), rgba(65, 51, 51,0));
    margin: 3vh auto;
}

.email{
    margin: 2vh;
    display: flex;
    justify-content: center;
    opacity: 0.1;
    color: #1eff00;
    transition: 0.3s;
}

.email:hover {
    font-size: 1.7vw;
    opacity: 0.5 ;  
}

@media (max-width:767px) {
    .portfolio img {
        max-width: 100%;
        max-height: 100%;
    }
    .discriptionP {
        font-size :small ;
    }
    small {
            font-size :small;
    }
    .email {
        font-size :small;
    }
}

@media (min-width:768px) {
    .portfolio img {
        max-width: 240px;
        max-height: 240px;
    }
}

@media (min-width:992px) {
    .portfolio img {
        max-width: 314px;
        max-height: 314px;
    }
}

@media (min-width:1200px) {
    .portfolio img {
        max-width: 380px;
        max-height: 380px;
    }
}